<h2 id="title">Sign up</h2>
<%if @user.errors.any? %>
  <% @user.errors.each do |attr,msg|  %>
  <center><div class="message-box"><span style="text-transform: capitalize;"><%=attr%></span> <%= msg%></div></center>
  <% end %>
<%end%>
aaaaaaaa
<%= params %>
<%= form_for(resource, as: resource_name,  url: registration_path(resource_name)) do |f| %>

  <% if !params[:invitation_id].nil? %> <!--clicking in mail link automaticly sets email value in user registration -->
    <%= f.hidden_field :email, value: params[:invitation_id] %>
    <div style="font-size: 25px; color: white"> <span style="color: #52bf90">Your email:</span> <%= params[:invitation_id] %> </div>
    <br>
  <%elsif params[:user][:invited]==true %>
  <div style="font-size: 25px; color: white"> <span style="color: #52bf90">Your email:</span> <%= params[:user][:email] %> </div>
  <%else%>
    <div class="field">
      <%= f.email_field :email, class: "text_field",placeholder: "Email", autofocus: true %>
    </div>
  <%end%>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "text_field",placeholder: "Password", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, class: "text_field",placeholder: "Password confirmation", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "login_submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
