<div style="margin-top: 10%">
<%= form_for @new_user do |f| %>

<div class="field">
  <%= f.label :email, class: "labels" %><br />
  <%= f.email_field :email, class: "text_field", autofocus: true %>
</div>


<div class="field">
<%= f.label :password, class: "labels", style: "margin-left: 3%;" %>
<% if @minimum_password_length %>
<em>(<%= @minimum_password_length %> characters minimum)</em>
<% end %><br />
<%= f.password_field :password, class: "text_field", autocomplete: "off" %>
</div>

<div class="field">
<%= f.label :password_confirmation, class: "labels", style: "margin-left: 14%" %><br />
<%= f.password_field :password_confirmation, class: "text_field", autocomplete: "off" %>
</div>

<div class="actions">
<%= f.submit "Sign up", class: "login_submit" %>
</div>

<% end %>
</div>
