<body>
<table align="center" style="margin-top: 10%">
  <tr>
    <th> User </th>
    <th> When </th>
    <th> Status </th>
  </tr>
  <!-- info if there is no invitations -->
  <% if @invitations.empty? && User.where(invited: true).empty? %>
  <tr>
    <td colspan="3"> You have no invitations in history </td>
  </tr>
  <%end%>
  <!-- showing invitations that have been accepted = users with invated true -->
<% @user.each do |u| %>
  <% if !u.invited.nil? %>
  <tr>
    <td><%= u.email %> </td>
    <td><%= u.created_at.strftime('%d-%m-%Y') %> </td>
    <td><%= image_tag("yes.png", height: '40', width: '40') %></td>
  </tr>
  <%end%>
<%end%>
<!-- showing invitations with unknown status  -->
<% @invitations.each do |i| %>
  <tr>
    <td><%= i.email %> </td>
    <td><%= i.created_at.strftime('%d-%m-%Y') %> </td>
    <% if User.where(email: i.email).empty? %>
      <td><%= image_tag("wait.png", height: '40', width: '40') %></td>
    <%end%>
  </tr>
<%end%>
</table>
</body>
