<!DOCTYPE html>
<html>
<head>
  <title>Lottery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<!-- navbars -->
<body style="background-color: white" class="invitation">
  <% if current_user.admin==true %> <!-- diffrent nav bar for admin -->
    <ul class="pasek">
    <li> <%= link_to("Schedule", assignations_path, :class => "assignation", style: "border-right: 3px solid #419873;") %> </li> <li class="pasek">
    <li style="float: right;"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
    <li style="float: right; border-right: 3px solid #419873;"><%= link_to('Admin Panel', invitations_path, class: "admin" ) %></li>
    <li class="login"> You have signed in as,<span style="color: #419873;"> admin</span></li>
    </ul><ul class="admin-menu">
    <li class="arrow_box" style="margin-top: 20%">  <%= link_to(invitations_path,class: "mail") do %>
      <%= image_tag("mail.png", height: '50', width: '50') %> <br>
      <span >  Invitations </span>
    <% end %></li>
    <li class="user">  <%= link_to(users_path,class: "mail") do %>
      <%= image_tag("users.png", height: '50', width: '50') %> <br>
      <span >  Users </span>
    <% end %></li>
    </ul>
    <ul class="submenu" style="margin-left: 15%">
      <li class="submenu"> <%= link_to("History", invitations_path, :class=>"submenu") %><li class="submenu"> <%= link_to("New", new_invitation_path, :class=>"submenu") %>
    </ul>
  <%elsif current_user.admin==nil%> <!-- diffrent nav bar for user -->
    <ul class="pasek">
    <li> <%= link_to("Schedule", assignations_path, :class => "assignation") %> </li>
    <li style="float: right;"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
    <li class="login"> You have signed in as, <span style="color: #419873;">  <%= current_user.email %></span> </li>
    </ul>

  <% end %>
<%= yield %>

</body>
</html>
